// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017 PASAJA Authors
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../sourceFilesMap";

.#{$CzPasajaUserControlsPrimitives}BasePanel {
  .Async {
    .Label .Text {
      color: $CZ_PASAJA_BLACK;
      float: left;
      font-size: 18px;
      left: 15px;
      position: relative;
      top: 10px;
    }
  }
}
