// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017 PASAJA Authors
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

.#{$CzPasajaUserControlsNamespace},
.#{$CzPasajaUserControlsBaseInterface},
.#{$CzPasajaUserControlsBaseInterfaceComponents},
.#{$CzPasajaUserControlsBaseInterfaceUserControls} {
  color: $CZ_PASAJA_BLACK;

  h1,
  h2 {
    color: $CZ_PASAJA_ORANGE;
  }

  a {
    color: $CZ_PASAJA_ORANGE;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.Logo {
  height: 74px;
  width: 400px;

  .PASAJA {
    background: $CZ_PASAJA_LOGO no-repeat;
    float: left;
    height: 74px;
    margin-right: 20px;
    width: 100px;
  }
}
