// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017 PASAJA Authors
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$CzPasajaUserControlsBaseInterfaceUserControls} {
  .ImageEditor {
    border: 2px solid $CZ_PASAJA_ORANGE;
    display: inline-block;
    float: left;
    padding: 10px;
    text-align: center;

    .Image .Background {
      background-color: $CZ_PASAJA_DARK_GRAY;
    }

    .CropBox {
      position: absolute;
    }

    .Controls {
      display: inline-block;
      padding-top: 20px;
      width: 400px;

      .Label {
        display: inline-block;
        padding: 10px 1%;
        width: 98%;
      }

      .NumberPicker {
        float: right;
      }

      .Buttons {
        clear: both;

        .Button {
          margin: 10px;

          .Splitter {
            display: none;
          }
        }
      }
    }
  }
}
